* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.caja-todo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja-intermedia {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;
}

.caja-contenido {
    gap: 10px;
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
}

h1{
    font-size: 50px;
}

input {
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
}

input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
        -13px -13px 100px #ffffff;
}

select {
    margin-bottom: 10px;
    color: rgb(70, 70, 70);
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em 3.5em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
}

select:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
        -13px -13px 100px #ffffff;
}

button {
    position: relative;
    transition: all 0.5s;
    text-decoration: none;
    font-size: 17px;
    padding: 0.7ch 3ch;
    background-color: rgb(0, 255, 0);
    color: #ffffff;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    border: none;
    font-weight: 700;
    border-radius: 2px;
    box-shadow: 2px 2px 0px hsl(118, 99%, 47%),
        4px 4px 0px hsl(118, 98%, 42%),
        6px 6px 0px hsl(118, 99%, 38%),
        8px 8px 0px hsl(118, 97%, 31%),
        10px 10px 0px hsl(118, 98%, 26%),
        12px 12px 0px hsl(118, 98%, 21%),
        14px 14px 0px hsl(118, 97%, 15%),
        16px 16px 0px hsl(118, 96%, 9%),
        18px 18px 0px hsl(118, 100%, 6%);
}

button:hover {
    background-color: hsl(0, 0%, 0%);
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
        -13px -13px 100px #ffffff;
}

a {
    position: relative;
    transition: all 0.5s;
    text-decoration: none;
    font-size: 17px;
    padding: 0.7ch 3ch;
    background-color: rgb(0, 255, 0);
    color: #ffffff;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    border: none;
    font-weight: 700;
    border-radius: 2px;
    box-shadow: 2px 2px 0px hsl(118, 99%, 47%),
        4px 4px 0px hsl(118, 98%, 42%),
        6px 6px 0px hsl(118, 99%, 38%),
        8px 8px 0px hsl(118, 97%, 31%),
        10px 10px 0px hsl(118, 98%, 26%),
        12px 12px 0px hsl(118, 98%, 21%),
        14px 14px 0px hsl(118, 97%, 15%),
        16px 16px 0px hsl(118, 96%, 9%),
        18px 18px 0px hsl(118, 100%, 6%);
}

a:hover {
    background-color: hsl(0, 0%, 0%);
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
        -13px -13px 100px #ffffff;
}

.resultado{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: baseline;
}