*{
    margin: 0;
    padding: 0;
}
body{
height: 100vh;
font-family: Arial, Helvetica, sans-serif;
}

.caja-todo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja{
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

input{
    width: 90%;
    padding: 10px 0;
    outline: 0 none;
    border: 1px solid rgb(162, 255, 0);
    border-radius: 10px;
}

input:focus{
    box-shadow: 0px 0px 10px rgb(162, 255, 0, 0.5);
}

input:focus{
    border-color: rgb(58, 92, 0);
}

button {
    position: relative;
    transition: all 0.5s;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    padding: 1ch 10ch;
    background-color: rgb(162, 255, 0);
    color: #ffffff;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    border: none;
    font-weight: 700;
    border-radius: 2px;
    box-shadow: 2px 2px 0px hsl(84, 99%, 47%),
        4px 4px 0px hsl(84, 98%, 42%),
        6px 6px 0px hsl(84, 99%, 38%),
        8px 8px 0px hsl(84, 97%, 31%),
        10px 10px 0px hsl(84, 98%, 26%),
        12px 12px 0px hsl(84, 98%, 21%),
        14px 14px 0px hsl(84, 97%, 15%),
        16px 16px 0px hsl(84, 96%, 9%),
        18px 18px 0px hsl(84, 100%, 6%);
}

button:hover {
    background-color: hsl(0, 0%, 0%);
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
        -13px -13px 100px #ffffff;
}