* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 95vh;
}

.caja-todo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja-intermedia {
    width: 99%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buscador {
    position: relative;
    width: 85%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

input {
    width: 900px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(146, 255, 146);
    outline: 0 none;
    font-size: 20px;
}

input:hover {
    border: 1px solid rgb(49, 255, 49);
}

input:focus {
    box-shadow: 0px 0px 10px rgb(49, 255, 49);
}

.ir {
    width: 90%;
    height: 30px;
}

.button5 {
    position: relative;
    top: 5px;
    transition: all 0.5s;
    text-decoration: none;
    font-size: 17px;
    padding: 0.7ch 3ch;
    background-color: rgb(0, 255, 0);
    color: #ffffff;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    border: none;
    font-weight: 700;
    border-radius: 2px;
    box-shadow: 2px 2px 0px hsl(118, 99%, 47%),
        4px 4px 0px hsl(118, 98%, 42%),
        6px 6px 0px hsl(118, 99%, 38%),
        8px 8px 0px hsl(118, 97%, 31%),
        10px 10px 0px hsl(118, 98%, 26%),
        12px 12px 0px hsl(118, 98%, 21%),
        14px 14px 0px hsl(118, 97%, 15%),
        16px 16px 0px hsl(118, 96%, 9%),
        18px 18px 0px hsl(118, 100%, 6%);
}

.button5:hover {
    background-color: hsl(0, 0%, 0%);
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
        -13px -13px 100px #ffffff;
}

.estudiante{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    position: relative;
    top: 20px;
    text-transform: uppercase;
    width: 50%;
    height: 80%;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    background: white;
    transition: all .4s ease-in-out;
}

p{
    margin-top: 7px;
    margin-bottom: 10px;
}

span{
    font-weight: 600;
}

.button6 {
    position: relative;
    top: -17px;
    transition: all 0.5s;
    text-decoration: none;
    font-size: 17px;
    padding: 0.7ch 3ch;
    background-color: rgb(0, 255, 0);
    color: #ffffff;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    border: none;
    font-weight: 700;
    border-radius: 2px;
    box-shadow: 2px 2px 0px hsl(118, 99%, 47%),
        4px 4px 0px hsl(118, 98%, 42%),
        6px 6px 0px hsl(118, 99%, 38%),
        8px 8px 0px hsl(118, 97%, 31%),
        10px 10px 0px hsl(118, 98%, 26%),
        12px 12px 0px hsl(118, 98%, 21%),
        14px 14px 0px hsl(118, 97%, 15%),
        16px 16px 0px hsl(118, 96%, 9%),
        18px 18px 0px hsl(118, 100%, 6%);
}

.button6:hover {
    background-color: hsl(0, 0%, 0%);
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
        -13px -13px 100px #ffffff;
}

.titulo{
    position: absolute;
    top: 1px;
}

.button7 {
    position: relative;
    bottom: 25px;
    left: 10px;
    transition: all 0.5s;
    text-decoration: none;
    font-size: 17px;
    padding: 0.7ch 3ch;
    background-color: rgb(0, 255, 0);
    color: #ffffff;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    border: none;
    font-weight: 700;
    border-radius: 2px;
    box-shadow: 2px 2px 0px hsl(118, 99%, 47%),
        4px 4px 0px hsl(118, 98%, 42%),
        6px 6px 0px hsl(118, 99%, 38%),
        8px 8px 0px hsl(118, 97%, 31%),
        10px 10px 0px hsl(118, 98%, 26%),
        12px 12px 0px hsl(118, 98%, 21%),
        14px 14px 0px hsl(118, 97%, 15%),
        16px 16px 0px hsl(118, 96%, 9%),
        18px 18px 0px hsl(118, 100%, 6%);
}

.button7:hover {
    background-color: hsl(0, 0%, 0%);
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
        -13px -13px 100px #ffffff;
}

select {
    color: rgb(70, 70, 70);
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 0.5em 2em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
}

select:focus {
    background-color: white;
    transform: scale(1.01);
    box-shadow: 13px 13px 100px #969696,
        -13px -13px 100px #ffffff;
}